{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": "test/**/*.js",
      "rules": {
        "no-console": "off"
      },
      "env": {
        "mocha": true
      }
    }
  ]
}
